.list_card {
    grid-template-columns: 1fr 1fr 1fr;
}

.available {
    color: white;
    background-color: green;
    text-align: center;
}

.pending {
    color: black;
    background-color: yellow;
    text-align: center;
}

.contingent {
    color: white;
    background-color: red;
    text-align: center;
}

.send-offer {
    text-align: center;
}

.save-property{
    float: right;
}